<div class="container">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <p>
        <%= @user.name %>
    </p>
    <p class="text-info">
        <%= @user.password %>
    </p>
</div>